<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @congestion.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @congestion.to %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @congestion.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @congestion.latitude %>
</p>

<p>
  <strong>Time:</strong>
  <%= @congestion.time %>
</p>

<p>
  <strong>Level:</strong>
  <%= @congestion.level %>
</p>

<%= link_to 'Edit', edit_congestion_path(@congestion) %> |
<%= link_to 'Back', congestions_path %>
